[Unit]
Description=Setup a secure tunnel
StartLimitInterval=0
After=network.target

[Service]
Type=notify 
RemainAfterExit=yes
# After= didnt work
# https://unix.stackexchange.com/questions/213185/restarting-systemd-service-on-dependency-failure
ExecStartPre=minikube status 
ExecStart=echo placeholder
Restart=always
RestartSec=5
User=kimi450

[Install]
WantedBy=multi-user.target