[Unit]
Description=minikube
StartLimitInterval=0
After=docker.service

[Service]
Type=simple 
RemainAfterExit=no
ExecStartPre=/usr/bin/minikube start
ExecStart=echo placeholder
Restart=always
RestartSec=5
User=kimi450
TimeoutSec=36000

[Install]
WantedBy=multi-user.target