[Unit]
Description=Setup a secure tunnel
StartLimitInterval=0
After=network.target

[Service]
Type=simple 
RemainAfterExit=no
# After= didnt work
# https://unix.stackexchange.com/questions/213185/restarting-systemd-service-on-dependency-failure
ExecStartPre=minikube status 
ExecStart=PLACEHOLDER
Restart=always
RestartSec=5
User=PLACEHOLDER

[Install]
WantedBy=multi-user.target
